In [2]:
import pandas as pd
import json
import os
#from utils.utils import read_json_to_dataframe

## check NAs

In [2]:
features_path = './data/train_wc.csv'

In [4]:
tf = pd.read_csv(features_path)

In [5]:
len(tf.id.unique())

576454

training features seem to be alright. What good news!

In [6]:
training_json = './data/doc_quality_data_train.json'
columns = ['id','title','body','category','doctype']
ds = read_json_to_dataframe(training_json, columns)
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576454 entries, 0 to 576453
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        576454 non-null  object
 1   title     576454 non-null  object
 2   body      576454 non-null  object
 3   category  576454 non-null  int64
 4   doctype   576454 non-null  object
dtypes: int64(1), object(4)
memory usage: 22.0+ MB

In [7]:
ds.body = ds.title + '。' + ds.body.str.replace(',','，')

In [12]:
ds = ds[['id','body']]
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576454 entries, 0 to 576453
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      576454 non-null  object
 1   body    576454 non-null  object
dtypes: object(2)
memory usage: 8.8+ MB

In [13]:
ts = pd.merge(ds, tf, on = ['id'], how = 'inner')

In [14]:
ts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 576454 entries, 0 to 576453
Data columns (total 33 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   576454 non-null  object
 1   body                 576454 non-null  object
 2   title                576454 non-null  object
 3   category             576454 non-null  int64
 4   title_num_char       576454 non-null  int64
 5   title_num_word       576454 non-null  int64
 6   title_num_keyword    576454 non-null  int64
 7   num_char             576454 non-null  int64
 8   num_char_del_stop    576454 non-null  int64
 9   num_uni_char         576454 non-null  int64
 10  num_punc             576454 non-null  int64
 11  num_word             576454 non-null  int64
 12  num_uni_word         576454 non-null  int64
 13  num_noun             576454 non-null  int64
 14  num_adj              576454 non-null  int64
 15  num_verb             576454 non-null  int64
 16  num_adv              576454 non-null  int64
 17  num_conj             576454 non-null  int64
 18  num_numeral          576454 non-null  int64
 19  num_para             576454 non-null  int64
 20  title_ratio_keyword  576454 non-null  float64
 21  ratio_uni_char       576454 non-null  float64
 22  ratio_uni_word       576454 non-null  float64
 23  ratio_punc           576454 non-null  float64
 24  ratio_noun           576454 non-null  float64
 25  ratio_verb           576454 non-null  float64
 26  ratio_adj            576454 non-null  float64
 27  ratio_adv            576454 non-null  float64
 28  ratio_conj           576454 non-null  float64
 29  ratio_numeral        576454 non-null  float64
 30  ratio_char_para      576454 non-null  float64
 31  ratio_word_para      576454 non-null  float64
 32  doctype              76454 non-null   object
dtypes: float64(12), int64(17), object(4)
memory usage: 149.5+ MB

In [15]:
ts.columns

Index(['id', 'body', 'title', 'category', 'title_num_char', 'title_num_word',
       'title_num_keyword', 'num_char', 'num_char_del_stop', 'num_uni_char',
       'num_punc', 'num_word', 'num_uni_word', 'num_noun', 'num_adj',
       'num_verb', 'num_adv', 'num_conj', 'num_numeral', 'num_para',
       'title_ratio_keyword', 'ratio_uni_char', 'ratio_uni_word', 'ratio_punc',
       'ratio_noun', 'ratio_verb', 'ratio_adj', 'ratio_adv', 'ratio_conj',
       'ratio_numeral', 'ratio_char_para', 'ratio_word_para', 'doctype'],
      dtype='object')

In [16]:
cols = ['id', 'title', 'body',  'category', 'title_num_char', 'title_num_word',
       'title_num_keyword', 'num_char', 'num_char_del_stop', 'num_uni_char',
       'num_punc', 'num_word', 'num_uni_word', 'num_noun', 'num_adj',
       'num_verb', 'num_adv', 'num_conj', 'num_numeral', 'num_para',
       'title_ratio_keyword', 'ratio_uni_char', 'ratio_uni_word', 'ratio_punc',
       'ratio_noun', 'ratio_verb', 'ratio_adj', 'ratio_adv', 'ratio_conj',
       'ratio_numeral', 'ratio_char_para', 'ratio_word_para', 'doctype']
ts = ts[cols]

In [17]:
ts.to_csv('data/training_set.csv', header = True, index=False)

## check new dataset

In [18]:
training_path = 'data/training_set.csv'
ds = pd.read_csv(training_path)
ds.info()

/home/yuanhang/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (32) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576509 entries, 0 to 576508
Data columns (total 33 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   576499 non-null  object
 1   title                576466 non-null  object
 2   body                 576466 non-null  object
 3   category             576454 non-null  float64
 4   title_num_char       576454 non-null  float64
 5   title_num_word       576454 non-null  float64
 6   title_num_keyword    576454 non-null  float64
 7   num_char             576454 non-null  float64
 8   num_char_del_stop    576454 non-null  float64
 9   num_uni_char         576454 non-null  float64
 10  num_punc             576454 non-null  float64
 11  num_word             576454 non-null  float64
 12  num_uni_word         576454 non-null  float64
 13  num_noun             576454 non-null  float64
 14  num_adj              576454 non-null  float64
 15  num_verb             576454 non-null  float64
 16  num_adv              576454 non-null  float64
 17  num_conj             576454 non-null  float64
 18  num_numeral          576454 non-null  float64
 19  num_para             576454 non-null  float64
 20  title_ratio_keyword  576454 non-null  float64
 21  ratio_uni_char       576454 non-null  float64
 22  ratio_uni_word       576454 non-null  float64
 23  ratio_punc           576454 non-null  float64
 24  ratio_noun           576454 non-null  float64
 25  ratio_verb           576454 non-null  float64
 26  ratio_adj            576454 non-null  float64
 27  ratio_adv            576454 non-null  float64
 28  ratio_conj           576454 non-null  float64
 29  ratio_numeral        576454 non-null  float64
 30  ratio_char_para      576442 non-null  float64
 31  ratio_word_para      576442 non-null  float64
 32  doctype              76454 non-null   object
dtypes: float64(29), object(4)
memory usage: 145.1+ MB

well ... BAD!

## seperate them

In [28]:
id_body = ts[['id','body']].to_numpy().tolist()

In [30]:
with open('./data/train_corpus.json','w') as f:
    json.dump(id_body, f)

## let's check again

In [3]:
with open('./data/train_corpus.json','r') as f:
    id_body = json.load(f)
id_body = pd.DataFrame(id_body, columns = ['id','body'])

In [4]:
id_body.head()

,id,body
0,0e7668c6-a98d-11eb-8239-7788095c0b0f,篮球——CBA第四阶段：辽宁本钢迎战吉林九台农场银行。篮球——CBA第四阶段：辽宁本钢迎战吉...
1,0e766c68-a98d-11eb-8239-7788095c0b0f,这4种家电，有人相见恨晚，有人感觉鸡肋，主要是价格不一样。这4种家电，有人相见恨晚，有人感觉...
2,0e766e70-a98d-11eb-8239-7788095c0b0f,PEHCHAOLIN 百雀羚 肌初赋活系列肌初赋活护肤套装。PEHCHAOLIN 百雀羚 肌...
3,0e766fd8-a98d-11eb-8239-7788095c0b0f,XTEP 特步男鞋运动鞋男夏季透气2020年新品男士休闲鞋潮流老爹鞋男潮鞋。XTEP 特步男...
4,0e7671cc-a98d-11eb-8239-7788095c0b0f,冲3连红，NBA预测：马刺VS鹈鹕，众星缺阵，鹈鹕迎来好机会。冲3连红，NBA预测：马刺VS...